
.contents,
.head {
    height: 300px;
}

.head {
    position: absolute;
}

.contents {
    margin-left: 200px;
}

.pubs li {
    margin: 1em 0;
}

.pubs .pub-extra li {
    margin: 0;
}

h3 {
    margin-top: 1em;
}