
.head {
    text-align: center;
    margin-top: 20px;
}

.pubs li {
    margin: 1.2em 0;
}

.pubs .pub-extra li {
    margin: 0;
}

h3 {
    margin-top: 1em;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}
